body {
  background-image: url('https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41477-019-0374-3/MediaObjects/41477_2019_374_Figa_HTML.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

h1 {
  text-align: center;
  margin-top: 50px;
}

#linkInput {
  display: block;
  margin: 0 auto;
  width: 50%;
  height: 50px;
  font-size: 24px;
  padding: 10px;
}

ul {
  list-style-type: none;
  padding: 0;
  margin-top: 20px;
}

li {
  margin-bottom: 10px;
  font-size: 20px;
}
