body {
  background-image: url('https://media.springernature.com/full/springer-static/image/art%3A10.1038%2Fs41477-019-0374-3/MediaObjects/41477_2019_374_Figa_HTML.jpg');
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

